<div class="container-index">
  <nav>
    <h1>Restaurant</h1>
    <div class="links-index">
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Signup</a>
      <a href="/auth/google">Login With Google</a>
    </div>
  </nav>
</div>