body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  color: grey;
  overflow: hidden; }

a {
  color: black;
  text-decoration: none; }

.container-index nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(179, 247, 215, 0.8); }

.container-index h1 {
  font-size: 50px; }

.links-index {
  display: flex;
  justify-content: center;
  align-items: center; }

.links-index a {
  margin-left: 15px; }

.container-view {
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  height: 94vh; }

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  margin-right: 5px;
  cursor: pointer; }

img {
  width: 70%; }

.nav-bar {
  width: 100%;
  height: 6vh;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4; }

.nav-bar a {
  color: white;
  margin: 15px; }

.hide {
  opacity: 0; }

.filter {
  background: rgba(179, 247, 215, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  transition: 0.2s all ease;
  top: 0;
  left: 0; }

.show {
  background: rgba(179, 247, 215, 0.85);
  position: absolute; }

.img-big {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid grey; }

.center {
  width: 50vw;
  left: 25%;
  top: 25%; }

.view-form {
  position: absolute;
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  right: 4vw;
  top: 0;
  z-index: 3;
  display: none; }

.view-form input {
  width: 80%;
  padding: 10px 5px;
  margin-bottom: 20px;
  border-radius: 6px;
  text-align: center;
  background: rgba(179, 247, 215, 0.8); }

.view-form input[type="submit"] {
  width: 50%;
  padding: 3px;
  margin-top: 10px;
  border-radius: 8px; }

.show-form {
  display: block;
  width: 20%;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  right: 7vw;
  top: 8vh;
  z-index: 3; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(179, 247, 215, 0.8); }

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#form-container input {
  border-radius: 6px;
  background: whitesmoke; }

#form-container button {
  transition: 0.3s;
  border-radius: 8px;
  background: rgba(179, 247, 215, 0.8); }

#form-container button:hover {
  background: rgba(25, 232, 135, 0.8); }

.japanese {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(179, 247, 215, 0.8); }

.japanese form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.japanese input {
  border-radius: 6px;
  background: whitesmoke; }

.japanese .input {
  transition: 0.3s;
  border-radius: 8px;
  background: whitesmoke;
  cursor: pointer; }

.japanese .input:hover {
  background: rgba(232, 163, 25, 0.6); }

.sub-japanese {
  border: 2px solid grey;
  padding: 70px;
  border-radius: 10px;
  background-image: url("../images/japo2v1.jpg");
  background-size: cover;
  background-position: center center;
  color: black;
  font-weight: 700; }

.arabic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(179, 247, 215, 0.8); }

.arabic form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.arabic input {
  border-radius: 6px;
  background: whitesmoke; }

.arabic .input {
  transition: 0.3s;
  border-radius: 8px;
  background: transparent;
  color: whitesmoke;
  cursor: pointer; }

.arabic .input:hover {
  background: rgba(232, 163, 25, 0.6); }

.sub-arabic {
  border: 2px solid grey;
  padding: 70px;
  border-radius: 10px;
  background-image: url("../images/arab.jpg");
  background-size: cover;
  background-position: center center;
  color: whitesmoke; }

.lebanese {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(179, 247, 215, 0.8); }

.lebanese form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.lebanese input {
  border-radius: 6px;
  background: whitesmoke; }

.lebanese .input {
  transition: 0.3s;
  border-radius: 8px;
  background: white;
  color: black;
  cursor: pointer; }

.lebanese .input:hover {
  background: rgba(232, 163, 25, 0.6); }

.sub-lebanese {
  border: 2px solid grey;
  padding: 70px;
  border-radius: 10px;
  background-image: url("../images/leban.jpg");
  background-size: cover;
  background-position: center center;
  color: black;
  font-weight: 400; }

.peruvean {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(179, 247, 215, 0.8); }

.peruvean form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.peruvean input {
  border-radius: 6px;
  background: whitesmoke; }

.peruvean .input {
  transition: 0.3s;
  border-radius: 8px;
  background: white;
  color: black;
  cursor: pointer; }

.peruvean .input:hover {
  background: rgba(178, 177, 173, 0.6); }

.sub-peruvean {
  border: 2px solid grey;
  padding: 70px;
  border-radius: 10px;
  background-image: url("../images/peru2v.jpg");
  background-size: cover;
  background-position: center center;
  color: whitesmoke;
  font-weight: 400; }

.indian {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(179, 247, 215, 0.8); }

.indian form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.indian input {
  border-radius: 6px;
  background: whitesmoke; }

.indian .input {
  transition: 0.3s;
  border-radius: 8px;
  background: transparent;
  color: black;
  cursor: pointer; }

.indian .input:hover {
  background: rgba(178, 177, 173, 0.6); }

.sub-indian {
  border: 2px solid grey;
  padding: 70px;
  border-radius: 10px;
  background-image: url("../images/indian2.jpg");
  background-size: cover;
  background-position: center center;
  color: black;
  font-weight: 700; }

/*# sourceMappingURL=style.css.map */