{{!-- <div class"{{reservation.reservation_cuisine}}">
</div> --}}
{{!-- <div class="japanese">
  <div class="sub-japanese"> --}}
{{!-- <div class="arabic">
  <div class="sub-arabic"> --}}
{{!-- <div class="lebanese">
  <div class="sub-lebanese"> --}}
{{!-- <div class="peruvean">
  <div class="sub-peruvean"> --}}





<div class="indian">
  <div class="sub-indian">
    <h1>X experience</h1>
    <form>
      <label for="plato1">Plato 1</label>
      <input type="number" id="plato1">
      <label for="plato2">Plato 2</label>
      <input type="number" id="plato2">
      <label for="plato3">Plato 3</label>
      <input type="number" id="plato3">
      <label for="plato4">Plato 4</label>
      <input type="number" id="plato4">
      <label for="plato5">Plato 5</label>
      <input type="number" id="plato5">
      <label for="plato6">Plato 6</label>
      <input type="number" id="plato6">
      <label for="cocktail">Cocktail</label>
      <input type="number" id="cocktail">
      <br><br>
      <input class="input" type="submit" value="Submit Reservation">
    </form>
  </div>
</div>