<nav class="nav-bar-info">
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Signup</a>
  <button id="trip">Get route from your location</button>
</nav>



<body>
  <h1>El bar..... cocktelero</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dicta minus illo provident quod eligendi aperiam,
    sit
    explicabo ratione rem praesentium non blanditiis molestiae dolores quibusdam. Perspiciatis vel accusantium vero?</p>









  <div id="map"></div>



</body>