<nav class="nav-bar">
  <a href="PONER PROFILE">Profile</a>
  <a href="/auth/logout">Logout</a>
</nav>


<div class="container-view">
  <div class="table" id="one">
    <img src="./images/Untitled-2.png" alt="table1">
  </div>
  <div class="table" id="two">
    <img src="./images/Untitled-2.png" alt="table2">
  </div>
  <div class="table" id="three">
    <img src="./images/Untitled-2.png" alt="table3">
  </div>
  <div class="table" id="four">
    <img src="./images/Untitled-2.png" alt="table4">
  </div>
  <div class="table" id="five">
    <img src="./images/Untitled-2.png" alt="table5">
  </div>
  <div class="table" id="six">
    <img src="./images/Untitled-2.png" alt="table6">
  </div>
</div>

<div class="filter"></div>

<div class="img-big">
  <img src="./images/Untitled-2.png" alt="tableBig">
</div>